<div style="text-align:center">
  <button id="newProjectButton" type="submit" class="btn btn-success" (click)="requestNewProject()">Create new project</button>
</div>

<br/>

<div style="text-align:center">
    <button id="loadProjects" type="submit" class="btn btn-success" (click)="loadProjects()">Load my projects</button>
</div>

<br/>
<br/>
<br/>

<div *ngIf="loadProjectRequest">
  <h3 style="text-align:center">Your current projects</h3>
  <br/>
  <table id="projectTable" class="table table-bordered">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Description</th>
        </tr>
      </thead>
      <tbody *ngFor="let project of getResult.Items">
        <tr>
          <td>{{project.name.S}}</td>
          <td>{{project.pdescription.S}}</td>
        </tr>
      </tbody>
    </table>
</div>

<br/>

<div *ngIf="newProjectRequest" class="container" style="text-align:center">

  <h3>Creating a new project</h3>

  <form (ngSubmit)="createProject(codeform)" #codeform="ngForm">
      <div class="form-group">
          <label for="email">Owner email</label>
          <input type="email" name="email" id="email" ngModel class="form-control" required>
        </div>
    <div class="form-group">
      <label for="name">Project name</label>
      <input type="name" name="name" id="name" ngModel class="form-control" required>
    </div>
    <div class="form-group">
      <label for="pdescription">Project description</label>
      <input type="pdescription" name="pdescription" id="pdescription" ngModel class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
  </form>

</div>