<div *ngIf="canCreateProject" style="text-align:center">
  <button id="newProjectButton" type="submit" class="btn btn-success" (click)="requestNewProject()">Create new project</button>
</div>

<br/>

<div style="text-align:center">
    <button id="loadProjects" type="submit" class="btn btn-success" (click)="loadProjectsApiCall()">Load my projects</button>
</div>

<br/>
<br/>
<br/>

<div *ngIf="loadProjectRequest">
  <h3 style="text-align:center"><b>Your current projects</b></h3>
  <h3 style="text-align:center"><i>*Click on project name to edit project*</i></h3>
  <br/>
  <table id="projectTable" class="table table-bordered">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Description</th>
          <th>Project Status</th>
          <th>Developers</th>
          <th>Project Managers</th>
        </tr>
      </thead>
      <tbody *ngFor="let project of getResult.Items">
        <tr>
          <td> <button class="btn btn-success" (click)="requestUpdateProject(project.name.S)">{{project.name.S}}</button></td>
          <td>{{project.pdescription.S}}</td>
          <td>{{project.pstatus.S}}</td>
          <td>{{project.developers.SS}}</td>
          <td>{{project.projectmanagers.SS}}</td>
        </tr>
      </tbody>
    </table>
</div>

<br/>

<div *ngIf="newProjectRequest" class="container" style="text-align:center">

  <h3>Creating a new project</h3>

  <form (ngSubmit)="createProjectApiCall(codeform)" #codeform="ngForm">
      <div class="form-group">
          <label for="email">Owner email</label>
          <input type="email" name="email" id="email" ngModel class="form-control" required>
        </div>
    <div class="form-group">
      <label for="name">Project name</label>
      <input type="text" name="name" id="name" ngModel class="form-control" required>
    </div>
    <div class="form-group">
      <label for="pdescription">Project description</label>
      <input type="text" name="pdescription" id="pdescription" ngModel class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success" (click)="update()">Create</button>
  </form>

</div>


<div *ngIf="updateProjectRequest" class="container" style="text-align:center">

  <h3>Updating project "{{editProjectName}}"</h3>
  <br/>

  <div style="text-align:center">
    <button id="editProject" class="btn btn-success" (click)="requestEditProject()">Edit project</button>
  </div>

  <br/>
  <div *ngIf="editProjectRequest" class="update">
    
    <form (ngSubmit)="editProjectApiCall(codeform)" #codeform="ngForm">
  
        <br/>
        <div class="form-group">
          <label for="updescription">Project Description</label>
          <input type="text" name="updescription" id="updescription" ngModel class="form-control" required>
        </div>
    
        <div class="form-group">
          <h4><b>Project status can be either 'active' or 'complete'</b></h4>
          <label for="upstatus">Status</label>
          <input type="text" name="upstatus" id="upstatus" ngModel class="form-control" required>
        </div>
    
        <button type="submit" class="btn btn-success" (click)="update()" [disabled]="!codeform.form.valid">Update</button>
      </form>
      <br/>
  </div>
  <br/>



  <div style="text-align:center">
    <button id="assignDev" class="btn btn-success" (click)="requestAssignDev()">Assign a developer</button>
  </div>

  <br/>
  <div *ngIf="assignDevRequest" class="update">
    
    <form (ngSubmit)="assignDevApiCall(codeform)" #codeform="ngForm">
        <br/>
        <div class="form-group">
          <label for="devemail">Developer Email</label>
          <input type="text" name="devemail" id="devemail" ngModel class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success" (click)="update()">Assign</button>
    </form>
    <br/>

  </div>
  <br/>



  <div style="text-align:center">
    <button id="assignPM" class="btn btn-success" (click)="requestAssignProjectManager()">Assign a project manager</button>
  </div>



  <br/>
  <div *ngIf="assignPMRequest" class="update">
      <br/>
      <form (ngSubmit)="assignProjectManagerApiCall(codeform)" #codeform="ngForm">
          <div class="form-group">
            <label for="pmemail">Project Manager Email</label>
            <input type="text" name="pmemail" id="pmemail" ngModel class="form-control" required>
          </div>
          <button type="submit" class="btn btn-success" (click)="update()">Assign</button>
      </form>
      <br/>

  </div>
  <br/>


  

  




</div>