<div *ngIf="canCreateProject" style="text-align:center">
  <button id="newProjectButton" type="submit" class="btn btn-success" (click)="requestNewProject()">Create new project</button>
</div>

<br/>

<div style="text-align:center">
    <button id="loadProjects" type="submit" class="btn btn-success" (click)="loadProjects()">Load my projects</button>
</div>

<br/>
<br/>
<br/>

<div *ngIf="loadProjectRequest">
  <h3 style="text-align:center">Your current projects</h3>
  <br/>
  <table id="projectTable" class="table table-bordered">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Description</th>
        </tr>
      </thead>
      <tbody *ngFor="let project of getResult.Items">
        <tr>
          <td> <button (click)="editProject(project.name.S)">{{project.name.S}}</button></td>
          <td>{{project.pdescription.S}}</td>
        </tr>
      </tbody>
    </table>
</div>

<br/>

<div *ngIf="newProjectRequest" class="container" style="text-align:center">

  <h3>Creating a new project</h3>

  <form (ngSubmit)="createProject(codeform)" #codeform="ngForm">
      <div class="form-group">
          <label for="email">Owner email</label>
          <input type="email" name="email" id="email" ngModel class="form-control" required>
        </div>
    <div class="form-group">
      <label for="name">Project name</label>
      <input type="name" name="name" id="name" ngModel class="form-control" required>
    </div>
    <div class="form-group">
      <label for="pdescription">Project description</label>
      <input type="pdescription" name="pdescription" id="pdescription" ngModel class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success" (click)="update()">Create</button>
  </form>

</div>


<div *ngIf="editProjectRequest" class="container" style="text-align:center">

  <h3>Updating {{editProjectName}}</h3>
  <h4>If you don't want to chnage the value of a field leave it blank</h4>

  <form (ngSubmit)="editProjectApiCall(codeform)" #codeform="ngForm">
      <div class="form-group">
        <label for="updescription">Project Description</label>
        <input type="text" name="updescription" id="updescription" ngModel class="form-control" required>
      </div>

      <div class="form-group">
        <label for="upstatus">Status</label>
        <input type="text" name="upstatus" id="upstatus" ngModel class="form-control" required>
      </div>

    <button type="submit" class="btn btn-success" (click)="update()">Update</button>
  </form>
</div>