<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a *ngIf="auth.isLoggedIn()" routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a *ngIf="auth.isLoggedIn()" routerLink="/projects">My Projects</a></li>
        <li routerLinkActive="active"><a *ngIf="auth.isLoggedIn()" routerLink="/search">Search</a></li>
        <li routerLinkActive="active"><a *ngIf="!auth.isLoggedIn()" routerLink="/register">Register</a></li>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a *ngIf="!auth.isLoggedIn()" routerLink="">Login</a></li>      
        <li><a *ngIf="auth.isLoggedIn()" href="javascript:void(0)" (click)="doLogout()">Logout</a></li>
      </ul>
    </div>
  </nav>