<div style="text-align:center">

  <h2>Registration</h2>

</div>

<div class="container" style="text-align:center">

  <form (ngSubmit)="register(regform)" #regform="ngForm" >
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" id="firstname" ngModel class="form-control" required>
      </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" id="lastname" ngModel class="form-control" required>
    </div>
    <div class="form-group" >
      <label for="email">Email</label>
      <input type="email" name="email" id="email" ngModel class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" ngModel class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!regform.form.valid">Register</button>
  </form>

</div>


<br/>
<div *ngIf="confirmCode" class="container" style="text-align:center">

  <h3>Please check your email for the validation code and enter it here:</h3>

    <form (ngSubmit)="validateAuthCode(codeform)" #codeform="ngForm">
      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" name="code" id="code" ngModel class="form-control" required>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!codeform.form.valid">Validate Code</button>
    </form>

</div>
  